* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    min-height: 1000px;
    background: #555;
    margin: 0 auto;
    padding: 20px;
}

#header h1 {
    font-size: 2em;
    color: lightgreen;
    padding: 12px;
    text-align: center;
}

#content {
    border: solid 2px lightgreen;
    border-radius: 10px;
    padding: 20px;
    background: #222;
    min-height: 200px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

#actions {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button{
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    background: none;
    padding: 6px 16px;
    transition: all 0.3s;
    margin: 10px 20px;
    flex: 1;
    text-align: center;
}

.button:hover {
    border: 2px solid lightgreen;
    color: lightgreen;
    cursor: pointer;
}

.node{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 4px 4px 0px 4px;
}

.filled-node{
    width: 30px;
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    color: #222;
    background: lightgreen;
    border-radius: 5px;
}

.empty-node{
    width: 30px;
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    color: lightgreen;
    opacity: 0.5;
    background: none;
    border-radius: 5px;
    border: 1px solid lightgreen;
}

.node-index{
    flex: 1;
    text-align: center;
    font-size: 10px;
    padding: 0 6px;
    color: lightgreen;
    opacity: 0.5;
}