* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    min-height: 400px;
    background: #555;
    margin: 0 auto;
    padding: 20px;
}

#header h1 {
    font-size: 2em;
    color: aquamarine;
    padding: 12px;
    text-align: center;
}

#content {
    border: solid 2px #999;
    border-radius: 20px;
    padding: 20px;
    background: #222;
    min-height: 60%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-fill;
    align-items: center;
}

#actions {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.button-fill {
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;

    background: none;
    padding: 6px 16px;
    transition: all 0.3s;
}

.button-fill:hover {
    border: 2px solid aquamarine;
    color: aquamarine;
    cursor: pointer;
}

.button-empty {
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;

    background: none;
    padding: 6px 16px;
    transition: all 0.3s;
}

.button-empty:hover {
    border: 2px solid goldenrod;
    color: goldenrod;
    cursor: pointer;
}

.item-node {
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    color: #fff;
    background: tomato;
    margin: 2px;
    border-radius: 5px;
}

.item-node-empty {
    font-size: 10px;
    padding: 6px;
    color: #fff;
    opacity: 0.5;
    background: none;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #fff;
}