* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Lato', sans-serif;
    background: #555;
}

#container {
    width: 60%;
    min-height: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#header{
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#header h1 {
    flex: 2;
    font-size: 2em;
    color: lightgreen;
    padding: 12px;
}

#header i{
    color: lightgreen;
    flex: 0;
    font-size: 2em;
}

#content {
    border: solid 2px lightgreen;
    border-radius: 10px;
    padding: 20px;
    background: #222;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

#actions {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn{
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    background: none;
    padding: 6px 16px;
    transition: all 0.5s;
    margin: 10px 20px;
    flex: 1;
    text-align: center;
}

.btn-disabled{
    border: 2px solid #777;
    border-radius: 5px;
    color: #777;
    font-size: 1em;
    background: none;
    padding: 6px 16px;
    transition: all 0.5s;
    margin: 10px 20px;
    flex: 1;
    text-align: center;
}

.btn:hover {
    border: 2px solid lightgreen;
    color: lightgreen;
    cursor: pointer;
}


.node{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 4px 4px 0px 4px;
}

.filled-node{
    width: 30px;
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    color: #222;
    border-radius: 5px;
}

.current-node{
    width: 30px;
    flex: 1;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid chartreuse;
    box-shadow: 0px 0px 3px chartreuse;
}

.empty-node{
    width: 30px;
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    color: lightgreen;
    opacity: 0.5;
    background: none;
    border-radius: 5px;
    border: 1px solid lightgreen;
}

.node-index{
    flex: 1;
    text-align: center;
    font-size: 10px;
    padding: 0 6px;
    color: lightgreen;
    opacity: 0.5;
}